<div class="vh-100 d-flex justify-content-center align-items-center">

    <form #f="ngForm" (ngSubmit)="register(f)">

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: happy"></span>
                <input class="uk-input" type="text" name="flName" #flName="ngModel" placeholder="Full name" ngModel
                    required>
            </div>
            <p class="text-danger" *ngIf="flName.errors?.required && flName.touched">Full name name is required</p>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <textarea class="uk-input" cols="23" rows="20" placeholder="Bio" name="bio" #bio="ngModel" ngModel
                    required></textarea>
            </div>
            <p class="text-danger" *ngIf="bio.errors?.required && bio.touched">Bio name is required</p>

        </div>


        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                <input class="uk-input" type="email" name="email" #email="ngModel" ngModel placeholder="Email" required
                    email>
            </div>
            <p class="text-danger" *ngIf="email.errors?.required && email.touched">Email is required</p>
            <p class="text-danger" *ngIf="email.errors?.email && email.touched">E-mail format is incorrect</p>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" name="password" #password="ngModel" ngModel
                    placeholder="Password" required minlength="8">
                <p class="text-danger" *ngIf="password.errors?.required && password.touched">Password is required</p>
                <p class="text-danger" *ngIf="password.errors?.minlength && password.touched">Password should compose >
                    8 caracters</p>
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" name="ConfirmPassword" #ConfirmPassword="ngModel" ngModel
                    placeholder="Confirm password" required>
                <p class="text-danger" *ngIf="ConfirmPassword.errors?.required && ConfirmPassword.touched">
                    ConfirmPassword is required</p>
                <p class="text-danger" *ngIf="password.value != ConfirmPassword.value && ConfirmPassword.touched ">not
                    equal</p>
            </div>
        </div>

        <button class="btn btn-outline-success" type="submit" [disabled]="!f.valid"
            style="width: 100%; margin-bottom: 5px;">Register</button>

        <button class="btn btn-outline-primary" style="width: 100%;">forgot password</button>

    </form>

</div>